iframe {
	margin-top: 1.5em;
	width: 100%;
}

.constrain-width {
	margin: auto;
	width: 640px;
}

@media (max-width: 750px) {
	/* update this according to google forms CSS */
	.constrain-width {
		width: 90%;
	}
}
