.spaced-list > li {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 18px 0;

	&:not(:first-child) {
		border-top: 1px solid var(--line);
	}

	&.indent {
		color: var(--ink);

		& > :first-child {
			margin-left: 1.5em;
		}
	}
}
